<svg style="margin-bottom:-11px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#CFBCAE" fill-opacity="1" d="M0,192L48,170.7C96,149,192,107,288,117.3C384,128,480,192,576,202.7C672,213,768,171,864,128C960,85,1056,43,1152,42.7C1248,43,1344,85,1392,106.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg><section class="ContenedorGeneral Carro ">


  <img
    data-aos="zoom-in-left"
    class="CarroCrudog"
    src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/s6_img.png?v=1651267479"
    alt="">

  <h2 data-aos="zoom-in-down">Lo llevamos en minutos a tu casa</h2>
  <p data-aos="zoom-in-down">Contamos con camionetas por toda la ciudad para poder estar lo antes posible en tu domicilio.</p>

  <a
    data-aos="zoom-out"
    class="btnstyles"
    href="https://tienda.crudog.mx/pages/paginaproducto "
    style="">
    Iniciar Ahora
  </a>


</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#CFBCAE" fill-opacity="0.97" d="M0,192L48,170.7C96,149,192,107,288,117.3C384,128,480,192,576,202.7C672,213,768,171,864,128C960,85,1056,43,1152,42.7C1248,43,1344,85,1392,106.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
</svg>
<style>
  .ContenedorGeneral{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:40px;
    padding:2rem;
    background:#CFBCAE;
    color:white;
  }

  .CarroCrudog{
     width:95%;
    max-width:700px;
  }
  .btnstyles{
    padding: .5rem 3rem;
    background:#3051A2;
    border-radius:50px;
  }
</style>

{% schema %}
  {
    "name": "Carro",
    "class": "Carro",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Carro",
        "blocks": []
      }
    ]
  }
{% endschema %}