<section class="ContenedorGeneral Carro ">
  <h2 data-aos="zoom-in-down">NOSOTROS TE LO LLEVAMOS
  </h2>

  <img
    data-aos="zoom-in-left"
    class="CarroCrudog"
    src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/s6_img.png?v=1651267479"
    alt="">


  <div class="ContendorIconos">
    <div class="ItemsIcon">
      <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_24_8cd9183f-d8f7-498a-aa61-9741ffecc94d.svg?v=1696911124" alt="">
      <p>ENVIOS GRATIS</p>
    </div>

    <div class="ItemsIcon">
      <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_22_fd4e212e-4f9b-41e9-aa02-273e712552ca.svg?v=1696911125" alt="">
      <p>UBICA DONDE ESTAMOS</p>
    </div>
    <div class="ItemsIcon">
      <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_23_2661176b-ea3a-4d36-92ea-9822a65ea0bb.svg?v=1696911125" alt="">
      <p>ALIMENTO FRESCO
      </p>
    </div>
  </div>

<!-- 
  <a
    data-aos="zoom-out"
    class="btnstyles"
    href="https://tienda.crudog.mx/pages/paginaproducto "
    style="">
    Iniciar Ahora
  </a>
 -->

</section>

<style>
  .ContenedorGeneral {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 5rem 0rem;
    background: #D2C0B3;
    color: white;
  }

  .CarroCrudog {
    width: 95%;
    max-width: 700px;
  }
  .btnstyles {
    padding: 0.5rem 3rem;
    background: #3051A2;
    border-radius: 50px;
  }

  .ContendorIconos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
  }

  .ItemsIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
  }
  .ItemsIcon p {
    font-size: 2rem;
    text-align: center;
  }


  .ItemsIcon img {
    width: 130px;
  }
   @media screen and (max-width: 900px) {
     .ContendorIconos{
       width:center;
     }
     .ItemsIcon img{
       width: 30px;
     }
     
   }
</style>

{% schema %}
  {
    "name": "Carro",
    "class": "Carro",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Carro",
        "blocks": []
      }
    ]
  }
{% endschema %}