<div class="ContenedorProductos2">
  <img style="width:100%; max-width:600px;" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_28.svg?v=1696938763">
</div>
{% schema %}
  {
    "name": "Certificado",
    "class": "Certificado",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Certificado",
        "blocks": []
      }
    ]
  }
{% endschema %}