<div class="ContenedorProductos">
  <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/image_24.png?v=1696937779">
</div>
{% schema %}
  {
    "name": "Certificado",
    "class": "Certificado",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Certificado",
        "blocks": []
      }
    ]
  }
{% endschema %}