<div class="imgScroll">
  <div>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_14.svg?v=1696907753" /></a>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_10.svg?v=1696907753" /></a>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_16.svg?v=1696907753" /></a>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" /></a>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_14.svg?v=1696907753" /></a>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_10.svg?v=1696907753" /></a>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_16.svg?v=1696907753" /></a>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" /></a>
  </div>
  <div>


    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_14.svg?v=1696907753" /></a>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_10.svg?v=1696907753" /></a>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_16.svg?v=1696907753" /></a>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" /></a>

    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_14.svg?v=1696907753" /></a>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_10.svg?v=1696907753" /></a>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_16.svg?v=1696907753" /></a>
    <a><img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" /></a>
  </div>
</div>

<style>
  .SliderProductos {
    width: 100%;
    height: 125px;
    position: relative;
    margin-bottom: 10rem;
  }
  .imgScroll {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    overflow-x: hidden;

  }
  .imgScroll div {
    display: flex;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
  }
  .imgScroll div:nth-child(2) {
    animation: animate2 40s linear infinite;
    animation-delay: -20s;
  }
  .imgScroll:hover div,
  .imgScroll:hover div:nth-child(2) {
    animation-play-state: paused;
  }
  @keyframes animate {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes animate2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  .imgScroll div img {
    margin: 0 25px;
    max-width: 300px;
    height: 300px;
    object-fit: contain;
    border: 10px solid transparent;
    transition: 0.25s;
  }
  .imgScroll div img:hover {
    border: 10px solid #fff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  }
  .imgScroll:hover div img {
    opacity: 0.05;
    filter: blur(5px);
  }
  .imgScroll div img:hover {
    opacity: 1;
    filter: blur(0px);
  }
</style>

{% schema %}
  {
    "name": "SliderProductos",
    "class": "SliderProductos",
    "settings": [
      {
        "type": "collection",
        "id": "collectionSlider",
        "label": "Coleccion"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "SliderProductos",
        "blocks": []
      }
    ]
  }
{% endschema %}