<div class="marquee">
  <div class="marquee__group">
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_14.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_10.svg?v=1696907753" />

    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_14.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_10.svg?v=1696907753" />


    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_14.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_10.svg?v=1696907753" />

  </div>
  <div aria-hidden="true" class="marquee__group">
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_14.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_10.svg?v=1696907753" />

    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_14.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_10.svg?v=1696907753" />


    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_12.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_14.svg?v=1696907753" />
    <img class="ImgSliderCollecion" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Group_10.svg?v=1696907753" />
  </div>
</div>
<style>

/* Comercial Partners */:root
{
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}


.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(var(--mask-direction, to right), hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
  background-color: var(--dark-color);
  padding: 1rem 0;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}

{% comment %}
  .marquee::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 92px;
    background: linear-gradient(to left, rgba(255,255,255, 0), #202222);
    content: " ";
    z-index: 20;
  }
  .marquee::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 92px;
    background: linear-gradient(to right, rgba(255,255,255, 0), #202222);
    content: " ";
    z-index: 20;
  }
{% endcomment %}
.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}
.marquee__group img {
  height: 90px;
}

@media(prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}



@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
</style>{% schema %}
{
  "name": "SliderProductos",
  "class": "SliderProductos",
  "settings": [
    {
      "type": "collection",
      "id": "collectionSlider",
      "label": "Coleccion"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "SliderProductos",
      "blocks": []
    }
  ]
}
{% endschema %}